@media (max-width: 425px) {
  body#OpenMobileMenu {
    position: relative;
    overflow: hidden;
    a {
      img {
        flex: none;
      }
    }
    .menuOverlay {
      background-color: rgba($color: #000000, $alpha: 0.6);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      flex: none;
      .menu {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $White;
        padding: 1.5rem;
        width: 65%;
        flex-direction: column;
        justify-content: start;
        .mobileMenu {
          text-align: right;
          #openMenuIcon {
            display: none;
          }
          #closeMenuIcon {
            display: inline-flex;
          }
        }
        nav {
          display: flex;
          margin: 0;
          ul {
            flex-direction: column;
            margin-top: 1rem;
            li {
              margin-top: 1rem;
              margin-right: 0;
              .mobileDropdown {
                margin-left: 1.5rem;
                margin-top: 0;
                display: flex;
                li {
                  img {
                    margin-right: 0.8rem;
                  }
                }
              }
              .dpNone {
                display: none !important;
              }
            }
          }
        }
        .sub {
          display: flex;
          flex-direction: column;
          margin-top: 2.5rem;
        }
      }
    }
  }
  header {
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-top: 0;
    .menuOverlay {
      .menu {
        justify-content: end;
        .mobileMenu {
          display: block;
          #closeMenuIcon {
            display: none;
          }
        }
        nav {
          display: none;
        }
      }
    }
    .sub {
      display: none;
    }
  }

  .hero {
    flex-direction: column;
    gap: 0;
    margin: 1.5rem auto 0 auto;
    width: 100%;
    .hero__content {
      text-align: center;
      margin-top: 0;
      order: 2;
      flex: none;
      h1 {
        font-size: 40px;
        margin-top: 2.5rem;
      }
      p {
        font-size: $font-size;
        margin: 2rem 1rem;
      }
      .clients {
        margin: 3rem 1.5rem;
        img {
          height: 20px;
        }
      }
    }
    .hero__image {
      background-image: url("../images/image-hero-mobile.png");
      height: 320px;
      order: 1;
      flex: none;
    }
  }
}
