*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$White: hsl(0, 0%, 98%);
$Gray: hsl(0, 0%, 41%);
$Black: hsl(0, 0%, 8%);

$font-size: 18px;
$font-family: "Epilogue", sans-serif;
$font-weight-500: 500;
$font-weight-700: 700;

body {
  font-size: $font-size;
  font-family: $font-family;
  background-color: $White;
}

.btn {
  color: $Gray;
  background-color: $White;
  outline: none;
  padding: 0.8rem 1.4rem;
  border: 2px solid $Gray;
  border-radius: 15px;
  font-size: $font-size;
  font-weight: $font-weight-500;
  &:hover {
    cursor: pointer;
    color: $Black;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  margin-top: 1.8rem;
  nav {
    margin-right: auto;
    margin-left: 4.5rem;
    ul {
      display: flex;
      li {
        display: flex;
        align-items: center;
        list-style: none;
        a {
          text-decoration: none;
          color: $Gray;
          margin-right: 0.5rem;
        }
        &:hover {
          a {
            cursor: pointer;
            color: $Black;
          }
          svg {
            transform: rotate(180deg);
            cursor: pointer;
            path {
              stroke: $Black;
            }
          }
        }
      }
      li:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }
  .sub {
    .login {
      margin-right: 1rem;
      border: none;
    }
  }
}

.hero {
  display: flex;
  gap: 5rem;
  margin: 5rem auto 0 auto;
  width: 80%;
  .hero__content {
    flex: 1;
    margin-top: 4rem;
    h1 {
      font-size: 80px;
      font-weight: 700;
      line-height: 1;
      margin-top: auto;
    }
    p {
      font-size: 22px;
      font-weight: 500;
      line-height: 1.4;
      margin: 3.5rem 0 3rem 0;
      color: $Gray;
    }
    button {
      background-color: $Black;
      color: $White;
      padding: 1rem 1.8rem;
      font-weight: 700;
    }
    .clients {
      display: flex;
      justify-content: space-between;
      margin-top: 8rem;
      img {
        height: 28px;
      }
    }
  }
  .hero__image {
    background-image: url("../images/image-hero-desktop.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    flex: 1;
  }
}
