*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

.btn {
  color: hsl(0, 0%, 41%);
  background-color: hsl(0, 0%, 98%);
  outline: none;
  padding: 0.8rem 1.4rem;
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 15px;
  font-size: 18px;
  font-weight: 500;
}
.btn:hover {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  margin-top: 1.8rem;
}
header nav {
  margin-right: auto;
  margin-left: 4.5rem;
}
header nav ul {
  display: flex;
}
header nav ul li {
  align-items: center;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  margin-right: 0.5rem;
}
header nav ul li:hover > a {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
}
header nav ul li:hover svg {
  transform: rotate(180deg);
  cursor: pointer;
}
header nav ul li:hover svg path {
  stroke: hsl(0, 0%, 8%);
}
header nav ul li .dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 0;
  margin-top: 4.5rem;
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgb(173, 171, 171);
  border-radius: 8px;
}
header nav ul li .dropdown img {
  margin-right: 1rem;
}
header nav ul li .dropdown li {
  margin: 0.5rem 0;
}
header nav ul li:not(:last-child) {
  margin-right: 3rem;
}
header .sub .login {
  margin-right: 1rem;
  border: none;
}

.hero {
  display: flex;
  gap: 5rem;
  margin: 5rem auto 0 auto;
  width: 80%;
}
.hero .hero__content {
  flex: 1;
  margin-top: 4rem;
}
.hero .hero__content h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  margin-top: auto;
}
.hero .hero__content p {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  margin: 3.5rem 0 3rem 0;
  color: hsl(0, 0%, 41%);
}
.hero .hero__content button {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  padding: 1rem 1.8rem;
  font-weight: 700;
}
.hero .hero__content button:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
  border: 1px solid hsl(0, 0%, 41%);
}
.hero .hero__content .clients {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}
.hero .hero__content .clients img {
  height: 28px;
}
.hero .hero__image {
  background-image: url("../images/image-hero-desktop.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100%;
  flex: 1;
}

@media (max-width: 425px) {
  body {
    position: relative;
  }
  header {
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-top: 0;
  }
  header .menuOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  header .menuOverlay .menu {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: hsl(0, 0%, 98%);
    padding: 1.5rem;
    width: 65%;
  }
  header .menuOverlay .menu .mobileMenu {
    text-align: right;
  }
  header .menuOverlay .menu .mobileMenu #openMenu {
    display: none;
  }
  header .menuOverlay .menu nav {
    margin: 0;
  }
  header .menuOverlay .menu nav ul {
    flex-direction: column;
    margin-top: 1rem;
  }
  header .menuOverlay .menu nav ul li {
    margin-top: 1.5rem;
  }
  header .sub {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
  }
  .hero {
    flex-direction: column;
    gap: 0;
    margin: 1.5rem auto 0 auto;
    width: 100%;
  }
  .hero .hero__content {
    text-align: center;
    margin-top: 0;
    order: 2;
    flex: none;
  }
  .hero .hero__content h1 {
    font-size: 40px;
    margin-top: 2.5rem;
  }
  .hero .hero__content p {
    font-size: 18px;
    margin: 2rem 1rem;
  }
  .hero .hero__content .clients {
    margin: 3rem 1.5rem 1rem 1.5rem;
  }
  .hero .hero__content .clients img {
    height: 20px;
  }
  .hero .hero__image {
    background-image: url("../images/image-hero-mobile.png");
    height: 320px;
    order: 1;
    flex: none;
  }
}/*# sourceMappingURL=style.css.map */